

.Zheader{
    height: 36px;
    width: 1200px;
    margin: auto;
    // background: red;
}
.Zheader_p{
    width: 400px;
    font-size: 12px;
    float: left;
}

.Zheader_s{
    width: 600px;
    font-size: 12px;
    float:right;
}