
.Zapp1{
    background: #ececec;
}
.zheader1,.Zheader,{
    width: 1200px;
    margin: auto;
}
.Zheader{
    height: 36px;
    
    background: #ececec;
    line-height: 36px;
    // background: red;
}
.zheader_p{
    color: #666666;
    font-size: 12px;
    float: left;
}

.zheader_s{
   
    font-size: 12px;
    float:right;
}
.zheader_s span{
    margin-right: 10px;
    padding:0 5px;
    font-size: 12px;
    &:nth-of-type(1){
        margin-right: 10px;
    }
}
.icon-dingdan , .icon-fenqu{
    font-size: 14px;
    color: #666;
}
.zspan1{
    color:#4ccc5a;
}
.zspan1:hover{
    color: orange;
}
.zspan2{
    color: orange;
}
.zspan3{
    &:hover{
        background: white;
    }
    display: inline-block;
    position: relative;
    height: 36px;
}

.zspan3 div{
    position: absolute;
    top: 36px;
    left: -150px;
    z-index: 1;
    font-size: 12px;
    height: 200px;
    width: 240px;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    background: white;
}
.zspan3 div li{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-indent:20px ;
    float: left;
    cursor: pointer;
}
.zspan3 div li:hover{
    color: orange;
    
   
}
.zheader{
    background: white;
    .zheader1{
        height: 85px;
        background: white;
        
        
        padding: 22px 0 23px 0;
        
    }
    .zimg,.zsou{
        height: 85px;
        float: left;
        
    }
    .zimg img{
        width: 298px;
        height: 85px;
    }
    .zsou{
        width: 500px;
        height: 85px;
        text-align: center;
        margin-left:30px; 
        // border: 1px solid red;
        
        .zxia{
            border: 1px solid orangered;
            margin-top: 15px;
            position: relative;
            border-radius: 5px;
           
        }
        .zxia>div{
            height:0;
            width:100% ;
            clear: both;
        }
        .zxia span{
            display: inline-block;
            height: 35px;
            float: left;
        }
        .zxia input{
            height: 33px;
            width: 328px;
            border: none;
            float: left;
            text-indent: 5px;
        }
        .zxiaspan{
            width: 90px;
            text-align: center;
            line-height: 34px;
            background: #f8f8f8;
            position: relative;
            border-radius: 5px;
            
        }
        .zxiaspan div{
            position: absolute;
            
            display: none;
        }
        .zsli li{
            &:hover{
                background: #f8f8f8;
                cursor: pointer;
            }
            width: 90px;
            text-align: center;
            line-height: 34px;
            background: #fff;
            border:1px solid #e6e6e6;
            border-top: none;
            
        }
        .zxiaspan1{
            
            width: 80px;
            background: orangered;
            text-align: center;
            line-height: 34px;
            color: white;
        }
    }
    .zrensou{
        width: 500px;
        height: 30px;
        font-size: 15px;
        .zres1{
            color: #666666;
        }
        .zres2:hover,.zres3:hover{
            color: orange;
        }
    }
    .zrensou span{
        display: inline-block;
        float: left;
        margin: 5px;
    }
    .zkefu{
        float: left;
        height: 75px;
        padding-top: 10px;
        font-size: 12px;
        font-weight: bold;
        width: 230px;
        margin-left: 100px;
        text-indent:24px; 
        color: #666;
        background: url(http://www.aozhoutrip.com/usertpl/xiao_st16195_no200_index/images/top-telephone.png) no-repeat right top;
        line-height: 25px;
        .zkefu_1{
            font-size: 16px;
            color:orangered;
            font-size: 20px; 
        }
    }
    
}
// 导航
.znav_z{
    background: #4ece5a;
    #znav{
        width: 1200px;
        height: 42px;
        margin: auto;
        background:#4ece5a;
        
        .znav_a{
            &:hover{
                background: #32a241;
            }
            float: left;
            padding: 0 30px;
            height: 42px;
            line-height: 42px;
            font-size: 16px;
            color: white;
        }
        .global_tit{
            width: 240px;
            height: 42px;
            float: left;
            text-align: center;
            background: #32c241;
            color: white;
            line-height: 42px;
        }
        
        .jian{
            position: relative;
            .jian_1{
                
                position: absolute;
                top: -15px;
                right: 0;
                background:orange;
                color: white;
                display: inline-block;
                height: 22px ;
                width: 22px;
                border-radius: 11px;
               font-size: 12px;
               line-height: 22px;

               text-align: center;
            }
        }
        .jian_a{
            position: relative;
            .jian_2{
                position: absolute;
                top: -15px;
                right: 0;
                background:orange;
                color: white;
                display: inline-block;
                height: 22px ;
                width: 22px;
                border-radius: 11px;
               font-size: 12px;
               line-height: 22px;

               text-align: center;
            }
        }
        
    }
}
.zqi{
    background: white;
    .zqi1{
        background:white;
        width: 1200px;
        height: 140px;
        margin: auto;
        margin-top: 10px;
        .zqi2{
            
            width: 300px;
            height: 52px;
            padding: 40px 0;
            overflow: hidden;
            float: left;
            div{
                float: left;
            }
            .ziconq{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                border: 1px solid #F34;
                line-height: 50px;
                color: red;
                text-align: center;
                
                .icon-flag{
                    font-size: 30px;
                }
                
            }
            .ziconq1{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                border: 1px solid yellow;
                line-height: 50px;
                color:yellow;
                text-align: center;
                
                .icon-zuanshi{
                    font-size: 30px;
                }
                
            }
            .ziconq2{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                border: 1px solid red;
                line-height: 50px;
                color:red;
                text-align: center;
                
                .icon-youhuiquan{
                    font-size: 30px;
                }
                
            }
            .ziconq3{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                border: 1px solid rgb(10, 112, 230);
                line-height: 50px;
                color:#05f;
                text-align: center;
                
                .icon-shou{
                    font-size: 30px;
                }
                
            }
            
            .ziconp{
               width: 240px;
                
                margin-left: 8px;
                h3{
                    font-size: 20px;
                    line-height: 30px;
                } 
                span{
                    font-size:12px;
                    line-height: 18px;
                }
            }
        }
    }
}

.z_footer{
    background: #323232;
    .zfooter{
        width: 1200px;
        height: 120px;
        margin: auto;
        background: #323232;
        padding: 20px 0;
        .zfooter_a{
            width: 160px;
            float: left;
            p{
                padding-left:5px; 
            }
        }
        .zfooter_p{
            border-left: 3px solid #4ece5a;
             
        }
        .zfooter_x{
            color: #eeeeee;
            font-size: 16px;
            line-height: 24px;
        }
        .zfooter_s{
            color: #777777;
            font-size: 12px;
            line-height: 30px;
        }
        .zfooter_span{
            float: right;
            margin-top: 10px;
            color: #999;
            line-height: 24px;
            font-size: 12px;
        }
    }
}

// 底部
.zdibuf{
    background: #242424;
    .zdibuf1{
        background: #242424;
        width: 1200px;
        height: 185px;
        margin: auto;
        .zdb{
            padding: 10px 0;
        }
        .zdibu{
            width: 74px;
            color: #999;
            display: inline-block;
            padding: 0 10px; 
            font-size: 12px;
        }
        .zdibu1{
            border-left: 1px solid #999;
            border-right: 1px solid #999;
        }
        .zdibuf2{
            color: #999;
            font-size: 12px ;
            .zwang{
                font-size: 12px ;
                color: white;
            }

        }
        .zdibuf3{
            margin-top:10px; 
            span{
                color: #777777;
            }
            .zwangs{
                display: inline-block;
                padding: 0 5px;
                font-size: 12px;
                border-right: 1px solid #777777;
                color: #777777;
            }
        }
    }
}

// 你好哈喽小客服

.zer{
    position: fixed;
    top: 300px;
    right: 30px;
    width: 160px;
    height: 217px;
    
    
    .zxr{width: 160px;
        height: 77px;
        overflow: hidden;
        background: url(../img/reqiqiu.jpg) no-repeat center/cover;
        div{
            width: 130px;
            height: 45px;
            margin: 23px  0  0 30px;
            text-align: center;
            font-size: 12px;
            color: #32a241;
            p{
                font-size: 20px; 
            }
        }
    }
    .zxr1{
        width: 160px;
        height: 140px;
        background: white;
        border:1px solid #05f;
        overflow: hidden;
        // margin-left: 30px;
        border-top: none;
        div{
            width: 130px;
            height: 30px;
            border: 1px solid #05f;
            font-size: 12px;
            
            text-align: center;
            border-radius: 15px;
            color: #5178dd;
            background:rgba(10, 120, 209, 0.3);
           margin: 10px 15px;
            .icon-dianhua{
                display: inline-block;
                background: blue;
                color: white;
                height: 20px;
                width: 20px;
                border-radius: 10px;margin-top: 5px;
            }
        }
    }
}

#app-list{
    position: absolute;
    width: 350px;
    background: #fff;
    border: 1px solid #ccc;
    left: 500px;
    top: 115px;
    padding: 10px;
    z-index: 888;
    display: none;
    >li{
        height: 38px;
        text-indent: 5px;
        line-height: 38px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        width: 100%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: #666;
        cursor: pointer;
        &:hover{
            color: #f40;
            text-decoration: underline;
        }
    }
}