
#gg1{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -182px;
    margin-top: -95px;
    width: 365px;
    height: 190px;
    z-index: 999;
    border-radius: 5px;
    background: url("http://sgoutong.baidu.com/embed/1529464183/asset/embed/css/pc/invite/img/inviteBack1.png") no-repeat left top/cover;
    #welcom{
        width: 211px;
        color: #fff;
        position: absolute;
        right: 50px;
        top: 40px;
        font-size: 18px;
    }
    span{
        position: absolute;
        top: 5px;
        right: 5px;
        color: #fff;
        padding: 3px;
        border: 1px solid #ececec;
        cursor: pointer;
    }
    a{
        padding: 5px 10px;
        position: absolute;
        bottom: 10px;
        font-size: 14px;
        cursor: pointer;
        &:nth-of-type(1){
            right: 140px;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
        }
        &:nth-of-type(2){
            right: 40px;
            background: #fff;
            border-radius: 5px;
        }
    }
}