.Register-big{
    position: relative;
    background:deepskyblue;
    width: 100%;
    height: 540px;
    .M-box{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 760px;
        height: 360px;
        padding: 20px 50px;
        margin: -200px 0 0 -430px;
        border-radius: 5px;
        background: #ddd;
        .M-box-left{
            float: left;
            width: 580px;
            // background: red;
            border-right: 1px solid black;
            padding-bottom: 10px;
            .box-left-top{
                width: 100%;
                padding: 10px 0 26px;
               .left-top-1{
                float: left;
                height: 24px;
                line-height: 24px;
                margin: 0 20px;
                font-size: 16px;
                cursor: pointer;
                color: red;
                border-bottom: 2px solid red;
               }
               i{
                float: left;
                width: 0;
                height: 18px;
                margin-top: 3px;
                border-left: 1px solid #8a8e90;
                border-right: 1px solid #4b4c4d;
               }
               .left-top-2{
                   cursor: pointer;
                    float: left;
                    height: 24px;
                    line-height: 24px;
                    margin: 0 20px;
                    font-size: 16px;
                }
            }
           .phone{
            .div1{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    // background: white;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 230px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .div2{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 105px;
                    height: 30px;
                    line-height: 30px;
                }
                .yzmm{
                    cursor: pointer;
                    float: left;
                    display: inline-block;
                    width: 114px;
                    height: 28px;
                    border: 1px solid black;
                    margin-left: 10px;
                }
                .replace{
                    font-size: 14px;
                    color: orangered;
                    margin-left: 5px;
                    cursor: pointer;
                    text-align: center;
                    line-height: 30px;
                }
            }
            .div3{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 105px;
                    height: 30px;
                    line-height: 30px;
                }
                .yzmm{
                    
                    cursor: pointer;
                    background: white;
                    text-align: center;
                    line-height: 28px;
                    float: left;
                    display: inline-block;
                    width: 114px;
                    height: 28px;
                    border: 1px solid black;
                    margin-left: 10px;
                }
            }
            .div4{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 230px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .div5{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 230px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .register{
                margin-top: 10px;
                color: white;
                float: left;
                width: 230px;
                height: 40px;
                border: none;
                background: blue;
                opacity: .8;
                text-align: center;
                line-height: 40px;
                letter-spacing: 3px;
                font-size: 16px;
                margin-left: 106px;
            }
           }
           .email{
               display: none;
            .div1{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    // background: white;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 230px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .div2{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 105px;
                    height: 30px;
                    line-height: 30px;
                }
                .yzmm{
                    float: left;
                    display: inline-block;
                    width: 114px;
                    height: 28px;
                    border: 1px solid black;
                    margin-left: 10px;
                }
                .replace{
                    margin-left: 3px;

                    text-align: center;
                    line-height: 30px;
                }
            }
            .div4{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                   
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 230px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .div5{
                float: left;
                margin: 10px;
                .bt-left{
                    line-height: 30px;
                    text-align: right;
                    float: left;
                    height: 30px;
                    display: inline-block;
                    width: 90px;
                }
                input{
                    text-indent: 3px;
                    float: left;
                    padding: 0;
                    border: none;
                    margin-left: 5px;
                    width: 230px;
                    height: 30px;
                    line-height: 30px;
                }
            }
             .register{
                margin-top: 10px;
                color: white;
                float: left;
                width: 230px;
                height: 40px;
                border: none;
                background: blue;
                opacity: .8;
                text-align: center;
                line-height: 40px;
                letter-spacing: 3px;
                font-size: 16px;
                margin-left: 106px;
            }
            
           }
        }
        .M-box-right{
            float: right;
            // background: red;
            .right-p1{
                margin-top: 250px;
                em{
                    font-style: normal;
                    cursor: pointer;
                    margin-left: 3px;
                    color: orangered;
                    text-decoration: underline;
                }
            }
            .right-p2{
                margin-top: 20px;
            }
        }
    }
}